<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="CESFAMConnectionString" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString2" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString3" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString4" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString5" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString6" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString7" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString8" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString9" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString10" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString11" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString12" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString13" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString14" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString15" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString16" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString17" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString18" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString19" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString20" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString21" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString22" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString23" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString24" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString25" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString26" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString27" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString28" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString29" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString30" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString31" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString32" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString33" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString34" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString35" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString36" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString37" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString38" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString39" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString40" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString41" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString42" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString43" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString44" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString45" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString46" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString47" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString48" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString49" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString50" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString51" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString52" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString53" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString54" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString55" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString56" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString57" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString58" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString59" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString60" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString61" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString62" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString63" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString64" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString65" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString66" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString67" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString68" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString69" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString70" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString71" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString72" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString73" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString74" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString75" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString76" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString77" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString78" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString79" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CESFAMConnectionString80" connectionString="Data Source=localhost;Initial Catalog=CESFAM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceAgendamientoSoap" />
        <binding name="WebService1CaducarMedicamentoSoap" />
        <binding name="WebService1DetalleCaducidadSoap" />
        <binding name="WebService1DetalleFichaSoap" />
        <binding name="WebService1DetalleIngresoSoap" />
        <binding name="WebServiceDetalleRecetaSoap" />
        <binding name="WebServiceDetalleSalidaSoap" />
        <binding name="WebServiceFarmaceuticoSoap" />
        <binding name="WebServiceFarmaciaSoap" />
        <binding name="WebServiceFichaPacienteSoap" />
        <binding name="WebServiceFormularioMedicamentoSoap" />
        <binding name="WebService1IngresoMedicamentoSoap" />
        <binding name="WebServiceMedicamentoSoap" />
        <binding name="WebServiceMedicoSoap" />
        <binding name="WebServicePacienteSoap" />
        <binding name="WebServiceReservaMedicamentoSoap" />
        <binding name="WebServiceSalidaMedicamentoSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:16853/WebServiceAgendamiento.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceAgendamientoSoap"
        contract="ServiceMantenedorAgendamiento.WebServiceAgendamientoSoap"
        name="WebServiceAgendamientoSoap" />
      <endpoint address="http://localhost:16853/WebServiceCaducarMedicamento.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebService1CaducarMedicamentoSoap"
        contract="ServiceMantenedorCaducarMedicamento.WebService1CaducarMedicamentoSoap"
        name="WebService1CaducarMedicamentoSoap" />
      <endpoint address="http://localhost:16853/WebServiceDetalleCaducidad.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebService1DetalleCaducidadSoap"
        contract="ServiceMantenedorDetalleCaducidad.WebService1DetalleCaducidadSoap"
        name="WebService1DetalleCaducidadSoap" />
      <endpoint address="http://localhost:16853/WebServiceDetalleFicha.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebService1DetalleFichaSoap"
        contract="ServiceMantenedorDetalleFicha.WebService1DetalleFichaSoap"
        name="WebService1DetalleFichaSoap" />
      <endpoint address="http://localhost:16853/WebServiceDetalleIngreso.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebService1DetalleIngresoSoap"
        contract="ServiceMantenedorDetalleIngreso.WebService1DetalleIngresoSoap"
        name="WebService1DetalleIngresoSoap" />
      <endpoint address="http://localhost:16853/WebServiceDetalleReceta.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceDetalleRecetaSoap"
        contract="ServiceMantenedorDetalleReceta.WebServiceDetalleRecetaSoap"
        name="WebServiceDetalleRecetaSoap" />
      <endpoint address="http://localhost:16853/WebServiceDetalleSalida.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceDetalleSalidaSoap"
        contract="ServiceMantenedorDetalleSalida.WebServiceDetalleSalidaSoap"
        name="WebServiceDetalleSalidaSoap" />
      <endpoint address="http://localhost:16853/WebServiceFarmaceutico.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceFarmaceuticoSoap"
        contract="ServiceMantenedorFarmaceutico.WebServiceFarmaceuticoSoap"
        name="WebServiceFarmaceuticoSoap" />
      <endpoint address="http://localhost:16853/WebServiceFarmacia.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceFarmaciaSoap"
        contract="ServiceMantenedorFarmacia.WebServiceFarmaciaSoap"
        name="WebServiceFarmaciaSoap" />
      <endpoint address="http://localhost:16853/WebServiceFichaPaciente.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceFichaPacienteSoap"
        contract="ServiceMantenedorFichaPaciente.WebServiceFichaPacienteSoap"
        name="WebServiceFichaPacienteSoap" />
      <endpoint address="http://localhost:16853/WebServiceFormularioMedicamento.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceFormularioMedicamentoSoap"
        contract="ServiceMantenedorFormularioMedicamento.WebServiceFormularioMedicamentoSoap"
        name="WebServiceFormularioMedicamentoSoap" />
      <endpoint address="http://localhost:16853/WebServiceIngresoMedicamento.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebService1IngresoMedicamentoSoap"
        contract="ServiceMantenedorIngresoMedicamento.WebService1IngresoMedicamentoSoap"
        name="WebService1IngresoMedicamentoSoap" />
      <endpoint address="http://localhost:16853/WebServiceMedicamento.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceMedicamentoSoap"
        contract="ServiceMantenedorMedicamento.WebServiceMedicamentoSoap"
        name="WebServiceMedicamentoSoap" />
      <endpoint address="http://localhost:16853/WebServiceMedico.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceMedicoSoap"
        contract="ServiceMantenedorMedico.WebServiceMedicoSoap" name="WebServiceMedicoSoap" />
      <endpoint address="http://localhost:16853/WebServicePaciente.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServicePacienteSoap"
        contract="ServiceMantenedorPaciente.WebServicePacienteSoap"
        name="WebServicePacienteSoap" />
      <endpoint address="http://localhost:16853/WebServiceReservaMedicamento.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceReservaMedicamentoSoap"
        contract="ServiceMantenedorReservaMedicamento.WebServiceReservaMedicamentoSoap"
        name="WebServiceReservaMedicamentoSoap" />
      <endpoint address="http://localhost:16853/WebServiceSalidaMedicamento.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceSalidaMedicamentoSoap"
        contract="ServiceMantenedorSalidaMedicamento.WebServiceSalidaMedicamentoSoap"
        name="WebServiceSalidaMedicamentoSoap" />
    </client>
  </system.serviceModel>
</configuration>
